/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: sans-serif;
  color: #0e0a16;
}

p, li {
  font-family: sans-serif;
  color: #0e0a16;
}

header h1 {
  font-size: 48px;
  color: #0e0a16;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p, li {
  font-size: 16px;
  line-height: 20px;
}

aside h2 {
    color: #ffffff;
}

aside li {
    color: #ffffff;
}

/* || header layout */

nav, aside {
  background-color: #0e0a16;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #0e0a16;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* || main layout */

main {
    flex: 4;
}

aside {
  flex: 1;
  background-color: #0e0a16;
}

aside li {
    padding: 5px 5px 5px 5px;
}

footer {
  margin-top: 10px;
}

